@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.bg-image1 {
    background-image: url('../public/top_left.png');
    background-position: top left;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .bg-image2 {
    background-image: url('../public/top_right.png');
    background-position: top right;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: -20%;
    right: 0;
    width: 100%;
    height: 100%;
  }